/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.benefits {
  background-color: #f9f9f9;
}

.benefits__container {
  padding-top: 99px;
  padding-bottom: 101px;
}

.benefits__title {
  margin-bottom: 60px;
}

/* ---------------------- */
/* --- BENEFITS LIST --- */
/* -------------------- */

.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.list__item {
  max-width: 360px;
}

.list__subtitle {
  margin-bottom: 21px;
}

/* ---------------- */
/* --- TOOLTIP --- */
/* -------------- */

.list__tooltip-marker {
  position: relative;
  bottom: 8px;
  left: 11px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  font-size: 18px;
  background-color: rgba(20, 16, 36, 0.08);
}

.tippy-box[data-theme~='white'] {
  padding: 10px 11px;
  color: var(--main-text-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  border-radius: 5px;
  background-color: var(--white-color);
  -webkit-box-shadow: 0px 2px 8px 0px rgba(20, 16, 36, 0.10);
          box-shadow: 0px 2px 8px 0px rgba(20, 16, 36, 0.10);
}