/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.img-style {
  display: block; 
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; 
}

/* ------------------------ */
/* --- TITLES AND TEXT --- */
/* ---------------------- */

.section-title {
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 80px;
}

.subtitle {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 38.4px;
}

.card-descr {
  color: rgba(20, 16, 36, 0.70);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.8px;
}

/* ----------------------- */
/* --- PRIMARY BUTTON --- */
/* --------------------- */

.request-btn {
  display: inline-block;
  padding: 25px 54px;
  border-radius: 5px;
  color: var(--white-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.8px;
  background-color: var(--button-color);
  -webkit-transition: -webkit-box-shadow 0.3s linear,
    -webkit-transform 0.6s linear;
  transition: -webkit-box-shadow 0.3s linear,
    -webkit-transform 0.6s linear;
  -o-transition: box-shadow 0.3s linear,
    transform 0.6s linear;
  transition: box-shadow 0.3s linear,
    transform 0.6s linear;
  transition: box-shadow 0.3s linear,
    transform 0.6s linear,
    -webkit-box-shadow 0.3s linear,
    -webkit-transform 0.6s linear;
}

.request-btn:focus-visible {
  -webkit-box-shadow: 0px 0px 6px 3px rgba(250,250,250,0.5);
          box-shadow: 0px 0px 6px 3px rgba(250,250,250,0.5);
}

@media (any-hover: hover) {
  .request-btn:hover {
    -webkit-box-shadow: 0px 0px 6px 3px rgba(250,250,250,0.5);
            box-shadow: 0px 0px 6px 3px rgba(250,250,250,0.5);
  }
}

.request-btn:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

/* ------------- */
/* --- LOGO --- */
/* ----------- */

.main-logo:focus-visible {
  outline-offset: 8px;
  outline: 1px solid white;
  border-radius: 3px;
}

/* ------------------------------------ */
/* --- PANEL FOR HEADER AND FOOTER --- */
/* ---------------------------------- */

.panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  max-width: 1750px;
  width: 100%;
}

.panel__nav {
  padding-left: 30px;
}

.panel__contact {
  color: var(--white-color);
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
  -webkit-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.panel__contact:focus-visible {
  color: var(--button-color); 
}

@media (any-hover: hover) {
  .panel__contact:hover {
    color: var(--button-color); 
  }
}

.panel__contact:active {
  color: #681013;
}